
.section__card {
    padding: 12px 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(49, 52, 61, 0.05);
    border-radius: 10px;
}

.section__header {
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__header h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: var(--text-black);
}

.section__header button {
    color: #FFF;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: #DD2F6E;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.section__table {
    min-height: 300px;
}

.section__table .delete-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #AFB0B6;
}

.table__responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-bottom: 1px solid #f0f0f0;
    border-top: 2px solid #f0f0f0;
}

thead th {
    padding: 0.5rem 1rem;
    font-weight: 700;
    text-align: left;
}

thead th:first-child {
    padding-left: 0;
}

thead th:last-child {
    padding-right: 0;
}

td {
    padding: 0.5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td:first-child {
    padding-left: 0;
}

td:last-child {
    padding-right: 0;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.section__table .description {
    max-width: 300px;
}

.section__table .status {
    width: 40px;
    height: 22px;
    border-radius: 11px;
    background-color: #C8C9CF;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.section__table .status span {
    width: 16px;
    height: 16px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    background-color: #FFF;
    display: inline-block;
    transition: .3s ease-in-out;
}

.section__table .status.active {
    background-color: #54A75C;
    transition: .3s ease-in-out;
}

.section__table .status.active span {
    margin: 3px 0 0 21px;
    transition: .3s ease-in-out;
}

.section__table .icon__wrapper {
    width: 22px;
    margin: 0 auto;
    cursor: pointer ;
    transition: .3s ease-in-out;
    opacity: 1;
}

.section__table .icon__wrapper:active {
    transition: .3s ease-in-out;
    opacity: .6;
    transform: scale(0.9);
}

.section__table .icon__wrapper:hover svg {
    fill: red;
    transition: .3s ease-in-out;
}

.booking--expired svg{
    fill: rgb(249,62,62);
}

@media (max-width: 576px) {
    .section__header h3 {
        font-size: 14px;
    }

    thead th {
        font-size: 12px;
    }

    td {
        font-size: .7rem;
    }

    .section__table .status {
        width: 30px;
        height: 16px;
    }

    .section__table .status span {
        width: 12px;
        height: 12px;
        margin: 2px 0 0 2px;
    }

    .section__table .status.active span {
        margin: 2px 0 0 16px;
    }

    .section__table .icon__wrapper {
        width: 16px;
    }
}