@import '../../assets/styles/globalStyles.css';

.category__actions {
    margin-bottom: 16px;
}

.category__action {
    padding: 8px 16px;
    margin-right: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-active);
    cursor: pointer;
    border-radius: 10px;
}

.edit {
    background-color: var(--edit-bg);
}

.category__action.delete {
    background-color: var(--delete-bg);
}

.img__wrapper {
    width: 20px;
    margin-right: 12px;
}

.categories {
    height: 58px;
    overflow-x: auto;
    position: relative;
    /* padding: 10px; */
}

.category__inner {
    width: 100%;
    position: relative;
    /* margin: -10px; */
}

.category__active {
    background-color: var(--white);
    z-index: 20;
    transition: .3s linear;
}

.category__actions {
    margin-bottom: 16px;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

