.container {
    width: 100%;
    height: 80px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border: 2px dashed var(--input-border);
    transition: .3s ease-out;
}

.container.dropped {
    border-color: var(--text-active);
    color: var(--text-active);
}

.container:hover {
    border-color: var(--text-dark);
    transition: .3s ease-out;
}

.content {
    display: flex;
    align-items: center;
}

.img__wrapper {
    width: 32px;
    margin-right: 20px;
}

