@import '../../assets/styles/globalStyles.css';

.category__add {
    height: 80vh;
    display: grid;
    grid-template-columns: auto 320px;
    grid-gap: 20px;
}

.category__form,
.category__view {
    padding: 20px 30px;
    background-color: var(--white);
    box-shadow: 0px 5px 20px 0px rgba(49, 52, 61, 0.05);
    border-radius: 10px;
}

.form__group label {
    margin-bottom: 20px;
    display: block;
}

.form__label {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-dark);
}

.form__input {
    padding: 14px 20px;
    border: 1px solid var(--input-border);
    font-size: 18px;
    color: var(--text-black);
}

.category__form button {
    color: var(--white);
    background-color: var(--text-active);
    cursor: pointer;
}

.category__form button:active, 
.category__form button:disabled {
    transform: scale(0.95);
    opacity: .7;
}

.category__form button:disabled {
    cursor: progress;
}

.category__form .loader {
    animation: loader 1s linear infinite;
    display: inline-block;
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.category__card {
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
}

.category__img {
    height: 180px;
    background-color: var(--input-border);
    overflow: hidden;
    position: relative;
}

.category__img img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in;
    object-fit: cover;
}

.category__img img:hover {
    transform: translate(-50%, -50%) scale(1.05) ;
    transition: .3s ease-in;
}

.card__body {
    padding: 10px;
}

.category__name {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-dark);
}

.category__description {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
}

.category__price {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-weight: 500;
    color: var(--text-dark);
}

.icon__wrapper {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 768px) {
    .category__add {
        grid-gap: 10px;
        grid-template-columns: auto 240px;
    }

    .category__form,
    .category__view {
        padding: 8px 16px;
    }

    .form__group label {
        margin-bottom: 12px;
    }

    .form__label {
        font-size: 14px;
    }

    .form__input {
        padding: 6px 12px;
        font-size: 12px;
    }   

    .category__img {
        height: 120px;
    }

    .category__name {
        font-size: 14px;
    }

    .category__description,
    .category__price { font-size: 12px; }
}

@media (max-width: 576px) {
    .category__add {
        grid-template-columns: auto;
    }

    .category__card {
        margin: 0 auto;
        max-width: 320px;
    }
}