@import './assets/styles/globalStyles.css';

.main__content {
    min-height: 100vh;
    margin-left: 280px;
    transition: .3s ease-in-out;
    background-color: rgba(249, 250, 252, 1);
    overflow: hidden;
}

.main__content.active {
    margin-left: 80px;
    transition: .3s ease-in-out;
}

@media (max-width: 991px) {
        .main__content {
            margin-left: 80px;
        }
}