@import './assets/styles/globalStyles.css';

.main__content {
    min-height: 100vh;
    margin-left: 280px;
    transition: .3s ease-in-out;
    background-color: #fff;
}

.main__content.active {
    margin-left: 60px;
    transition: .3s ease-in-out;
}