.login__wrapper {
    height: 100vh;
    background-color: darkred;
    display: grid;
    place-items: center;
    position: relative;
}

.login__container {
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.login__img {
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 11px 32px 1px rgba(0,0,0,0.8);
}

.login__form {
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    right: -300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 11px 32px 1px rgba(0,0,0,0.8);
}

.form__label {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    color: #313436;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.login__form input {
    display: inline-block;
    margin-bottom: 16px;
    border-color: darkgrey;
    font-weight: 600;
}

.form__btn {
    display: flex;
    justify-content: center;
}

.form__btn button {
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    background-color: darkred;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.form__btn button:active, 
.form__btn button:disabled {
    transform: scale(0.95);
    opacity: 0.7;
    transition: .3s ease-in-out;
}

.form__btn button:disabled {
    cursor: progress;
}



.form__btn .loader {
    animation: loader 1s linear infinite;
    display: inline-block;
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 991px) {
    .login__container {
        left: calc(50% - 100px);
    }

    .login__img {
        width: 500px;
    }

    .login__form {
        right: -150px;
    }
}

@media (max-width: 768px) {
    .login__container {
        left: 50%;
    }

    .login__form {
        right: 50px;
    }
}

@media (max-width: 525px) {
    .login__img {
        display: none;
    }

    .login__form {
        width: 280px;
        padding: 20px 30px;
        position: relative;
        right: 0;
    }
}